[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/CryToCry96
[access "refs/for/refs/*"]
	read = group user/CryToCry96
	push = group user/CryToCry96
	label-Code-Review = -2..+2 group user/CryToCry96
	label-Verified = -1..+1 group user/CryToCry96
	rebase = group user/CryToCry96
	removeReviewer = group user/CryToCry96
	submit = group user/CryToCry96
[access "refs/heads/*"]
	read = group user/CryToCry96
	create = group user/CryToCry96
	push = +force group user/CryToCry96
	pushMerge = group user/CryToCry96
[access "refs/tags/*"]
	push = +force group user/CryToCry96
	pushTag = group user/CryToCry96
	pushSignedTag = group user/CryToCry96
